body {
    background-color: rgb(13, 21, 23);
}
.cv {
    position: absolute;
    top: 2vw;
    left: 30vw;
    height: 90vh;
    padding-bottom: 10vh;
}
.back {
    position: absolute;
    top: 92.5vh;
    left: 28.5vw;
    padding: 20px;
    direction: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(194, 194, 194);
    font-size: 30pt;
}